In [14]:
import numpy as np
import pandas as pd
import re
import os
import cv2

In [15]:
encodings=["UTF-8","UTF-7","latin-1"] # put into more encoders
for y in encodings:
    try:
        pd.read_csv(r"C:\Users\pavan\Downloads\spam.csv",encoding=y)
        print(y)
    except UnicodeDecodeError:
        print("{} is not your encoder".format(y))

UTF-8 is not your encoder
UTF-7 is not your encoder
latin-1

In [16]:
data=pd.read_csv(r"C:\Users\pavan\Downloads\spam.csv",encoding="latin-1")

In [17]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [18]:
data.v2=data["v2"].str.lower()

In [19]:
list_unique=[]
for i in data.v2:
    for j in i.split():
        if j not in list_unique:
            list_unique.append(j)

In [20]:
data.v2=data["v2"].apply(lambda x:re.sub("<.+?>","",x))

In [21]:
data.v2=data["v2"].apply(lambda x:re.sub("[^a-z]","",x))

In [22]:
def integerBasedEn(x):
    voca=[]
    for i in x:
        for word in i.split():
            if word not in voca:
                voca.append(word)
    dic_voc = dict()
    c=1
    for i in voca:
        dic_voc[i]=c
        c+=1

    list1 = []
    for sen in x:
        l1=[]
        for word in sen.split():
            if word in dic_voc.keys():
                l1.append(dic_voc[word])
        l1=np.array(l1)
        l1=l1.flatten()
        list1.append(l1)
    return list1

In [23]:
b=integerBasedEn(data.v2)

In [31]:
data2=data[["v1","v2"]]

In [32]:
data2["array"]=b

C:\Users\pavan\AppData\Local\Temp\ipykernel_4064\3010817958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["array"]=b

In [33]:
data2

        v1                                                 v2   array
0      ham  gountiljurongpointcrazyavailableonlyinbugisngr...     [1]
1      ham                                 oklarjokingwifuoni     [2]
2     spam  freeentryinawklycomptowinfacupfinaltktsstmayte...     [3]
3      ham                  udunsaysoearlyhorucalreadythensay     [4]
4      ham    nahidontthinkhegoestousfhelivesaroundherethough     [5]
...    ...                                                ...     ...
5567  spam  thisisthendtimewehavetriedcontactuuhavewonthep...  [5075]
5568   ham                        willbgoingtoesplanadefrhome  [5076]
5569   ham          pitywasinmoodforthatsoanyothersuggestions  [5077]
5570   ham  theguydidsomebitchingbutiactedlikeidbeinterest...  [5078]
5571   ham                               roflitstruetoitsname  [5079]

[5572 rows x 3 columns]